.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 227, 227);
  padding: 24px 0px;
}

.footer-content {
  width: 1024px;
}

.footer-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(244, 161, 7);
  display: flex;
  align-items: center;
  font-size: xx-large;
}

.right-content {
  width: 30%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

h5 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 6px 0px;
}

a,
p {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: rgb(105, 105, 105);
  margin: 4px 0px;
}

.p1,
.p2 {
  margin-bottom: 10px;
  line-height: 14px;
  letter-spacing: 1px;
}

.socials {
  display: flex;
  justify-content: flex-start;
}

.soclink {
  color: black;
  margin-right: 8px;
  font-size: 20px;
}

.all-rights {
  display: flex;
  align-items: center;
  justify-content: center;
}
